# Created by https://www.toptal.com/developers/gitignore/api/zig
# Edit at https://www.toptal.com/developers/gitignore?templates=zig

### zig ###
# Zig programming language

.zig-cache/
zig-out/
build/
build-*/
docgen_tmp/
tmp/
dict_cache/
toyskkserv.zon

# End of https://www.toptal.com/developers/gitignore/api/zig
# Added by goreleaser init:
dist/
.intentionally-empty-file.o
